@import "Buttons";
@import "Text";
@import "Transitions";

#app {
  font-family: "Work sans", sans-serif;
  min-height: 100vh;
  position: relative;
  font-size: 1rem;
}

body{
  margin: 0;
}

a{
  color: initial;
  text-decoration: none;
}

.panel{
  height: calc(100vh - 100px - 2rem);
  padding: 2rem;
}

.image{
  background-size: cover;
  background-position: center;
}

.subtitle{
  width: 50%;
}

.title{
  margin-bottom: 2rem;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.tag{
  margin-top: 1rem;
  background-color: #a8a8a8;
  width: fit-content;
  height: fit-content;
  color: white;
  white-space: break-spaces;
}

.gray{
  color: #a8a8a8;
}

.black{
  color: black;
}

.top{
  margin-bottom: 1rem;
}