@import 'base.css';

#app {
  font-family: "Work sans", sans-serif;
  min-height: 100vh;
  position: relative;
  font-size: 1.2rem;
}

.click{
  cursor: pointer;
}

a{
  color: initial;
  text-decoration: none;
}